<table class="table table-condensed">
  <thead>
    <tr>
      <th>Entry ID</th>
      <th>Action</th>
      <th>Model</th>
      <th>Version</th>
      <th>Scope</th>
      <th>Instance</th>
      <th>User</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <% trackers.each do |tracker| %>
      <% instance_path = "#{tracker.association_chain.last['name'].downcase}_path(#{tracker.association_chain.last['id'].to_s})" %>
      <tr>
        <td><%= "#{tracker.id}" || "&nbsp;" %></td>
        <td><%= "#{tracker.action}"  || "&nbsp;" %></td>
        <td><%= "#{tracker.association_chain.last['name']}" || "&nbsp;" %></td>
        <td><%= "#{tracker.version}"  || "&nbsp;" %></td>
        <td><%= "#{tracker.scope}"  || "&nbsp;" %></td>
        <td><%= link_to "instance", instance_path %></td>
        <td><%= "#{tracker.modifier_id}" || "&nbsp;" %></td>
        <td><%= "#{tracker.created_at}"  || "&nbsp;" %></td>
      </tr>

      <% (tracker.tracked_edits[:add] || []).each do |k,v| %>
        <tr>
            <td colspan="2">add</td>
            <td><%= "#{k}" %></td>
            <td><%= "nil" %></td>
            <td><%= "#{v}" %></td>
        </tr>
      <% end %>

      <% (tracker.tracked_edits[:modify] || []).each do |k,v| %>
        <tr>
            <td colspan="2">modify</td>
            <td><%= "#{k}" %></td>
            <td><%= "#{v[:from]}" %></td>
            <td><%= "##{v[:to]}" %></td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>


<ul>
  <% trackers.each do |tracker| %>
    <li><%= "Tracker: #{tracker.id}" %>
      <ul>
        <% (tracker.tracked_edits[:add] || []).each do |k,v| %>
          <li><%= "Added field: #{k} = #{v}" %></li>
        <% end %>

        <% (tracker.tracked_edits[:modify] || []).each do |k,v| %>
          <li><%= "Changed field: #{k}, from #{v[:from]} to #{v[:to]}" %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>


